<div class="row">
    <div class="col-12 d-flex flex-row bg-secondary">
        <img src="/th.jpg" class="img-fluid m-3" alt="Inception" />
        <div class="bg-secondary">
            <h1 class="text-light">Inception</h1>
            <p>Cobb, a skilled thief who commits corporate espionage by infiltrating the
            for a task considered to be impossible: " inception ", the implantation of another
            Person's idea into a target's subconscious.</p>
        </div>
    </div>
    <div class="col-6 d-flex flex-column">
        <h3>Movie Facts</h3>
        <div>
            <p>Release Date</p>
            <p>July 15, 2010</p>
        </div>
        <div>
            <p>Run Time</p>
            <p>148m</p>
        </div>
        <div>
            <p>Box Office</p>
            <p>$825,532,764</p>
        </div>
        <div>
            <p>Budget</p>
            <p>$160,000,080</p>
        </div>
    </div>
</div>